body {
    background-color: black;
}

h1{
    color: white;
    font-family: "Amatic SC", "sans-serif";
    padding-left: 20px;
    font-size: 40px;
}

h1 {
  display: flex;                
  justify-content: center;      
  align-items: center;         
  gap: 250px;                    
  text-align: center;
}


#name {
    margin-top: 200px;
    color: white;
    font-family: "Amatic SC", "sans-serif";
    font-size:80px;
}

#info {
    color: white;
    font-family: "Amatic SC", "sans-serif";
    font-size: 50px;
    display: block;
    word-spacing: 10px;
}

#title {
    margin-top: 200px;
    color: white;
    font-family: "Amatic SC", "sans-serif";
    font-size: 40px;

}

#description {
    color: white;
    font-family: "Amatic SC", "sans-serif";
    font-size: 40px;
}

#about1{
    color: white;
    font-family: "Amatic SC", "sans-serif";
    font-size: 50px;
}

#about2 {
    color: white;
    font-family: "Amatic SC", "sans-serif";
    font-size: 50px;
}
a{
    color: azure;
}

a:visited {
    color:#825af1
}

video {
    width: 350px;
    border-radius: 50%;
}


.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    max-width: 1000px;
    margin: auto;
}

#bgMusic {
    margin-top: 10px;
    background-color: #0a0a0a;
    border: 1px solid #000000;
    border-radius: 30px; 
    padding: 0px;
    width: 600px;
    filter: invert(100%) hue-rotate(180deg);
}

.container .title {
    margin-top: 100px;
    color: white;
    font-family: "Amatic SC", "sans-serif";
    font-size: 60px;
}

#gallerydescription{
    color: white;
    font-family: "Amatic SC", "sans-serif";
    font-size: 45px;
    display: block;
    word-spacing: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 20px 0 20px;
}

.container .box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;

}

.container .box .personalwork {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 32.5%;
    gap: 30px;
}

.container .box .personalwork img {
    width: 500px;
    padding-bottom: 20px;
    border-radius: 5px;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

.container .box .personalwork img:hover {
    transform: scale(1.1);
}

#socials {
    margin-top: 100px;
    color: white;
    font-family: "Amatic SC", "sans-serif";
    font-size: 65px;
}

#where{
    color: white;
    font-family: "Amatic SC", "sans-serif";
    font-size: 40px;
}

.icon {
  display: flex;          
  justify-content: center; 
  gap: 200px;

}

#credentials {
    margin-top: 200px;
    color: white;
    font-family: "Amatic SC", "sans-serif";
    font-size: 70px;
}

#credinfo {
    color: white;
    font-family: "Amatic SC", "sans-serif";
    font-size: 40px;
}
#soso {
    color: white;
    font-family: "Amatic SC", "sans-serif";
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;

}
.icon img {
    margin-top: 100px;
    width: 150px;           
    height: 150px;         
    object-fit: cover;      
    border-radius: 50%;
    transition: transform 0.4s ease;   
    cursor: pointer;
}

.icon img:hover {
  transform: scale(1.1); 
}

#back{ 
    margin-top: 50px;
    color: white;
    font-family: "Amatic SC", "sans-serif";
    font-size: 70px;
}

html {
  scroll-behavior: smooth;
}
